.diaries-container {
	width: 90vw;
	margin: 0 auto;
	padding: 2.5rem 2rem;
	gap: 1rem 2rem;
	/* max-width: 800px; */
	/* display: flex; */
	/* display: grid; */
}

.listing {
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.daily-diary-item {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	box-shadow: lightgray;
	width: 80vw;
	/* border: 0.4px solid #4b6370; */
}

.daily-diary-item-links {
	flex-direction: row;
	flex-wrap: wrap;
	width: 70vw;
	/* border: 0.4px solid #4b6370; */
}

.daily-diary-item-links:hover {
	color: #ef476f;
}

.diary-info {
	display: inline-flex;
	width: 70vw;
	/* border: 0.4px solid #4b6370; */
	/* align-items: center; */
	/* margin-left: 5px; */
}

.diaries-item-mood {
	font-size: 20px;
}

.diary-title {
	margin-bottom: 0;
	line-height: 1.5;
	/* padding-left: 5px; */
}

.diary-date {
	margin-bottom: 0;
	width: 100px;
	display: block;
}

.delete-btn {
	position: absolute;
	padding-bottom: 5px;
	background: transparent;
	border-color: transparent;
	width: 20px;
	height: 25px;
	display: inline-flex;
	color: grey;
	cursor: pointer;
	/* justify-content: flex-end; */
	/* align-self: baseline; */
	/* min-width: 20px; */
}

.delete-btn:hover {
	color: #ef476f;
}
