/*
=============== 
Global Class Styles
===============
*/
.App {
	/* width: 100vw;
	height: 100vh; */
}

svg {
	/* margin: 2px; */
	padding: 2px;
}

.content {
	/* min-height: 100vh; */
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
