.diary-form {
	display: inline-block;
	/* border: 2px solid #15ade0; */
}

.diary-form-label {
	text-align: left;
}

.diary-form-input {
	border: 1.5px solid #15ade0;
	border-radius: 5px;
	background-color: transparent;
	padding-left: 5px;
	color: lightslategray;
	height: 30px;
	width: 70vw;
	display: inline-flex;
	margin-bottom: 5px;
}

.diary-form-longinput {
	width: 70vw;
	height: 100px;
	border: 1.5px solid #15ade0;
	border-radius: 5px;
	background-color: transparent;
	padding-left: 5px;
	color: lightslategray;
}

.diary-form-input:focus,
.diary-form-input:focus,
.diary-form-longinput:focus,
.diary-form-longinput:focus {
	outline: none;
	background-color: #ebebeb;
}

.add-btn {
	color: #15ade0;
	font-size: 30px;
	background-color: transparent;
}

.add-btn:hover {
	color: #ef476f;
}

.add-btn:disabled {
	color: slategrey;
}

.mood-tracker {
	height: 60px;
	align-content: flex-end;
}

span.mood-icon {
	color: lightslategray;
	line-height: 1;
}

.mood-icon:hover,
.active.mood-icon {
	font-size: 20px;
	color: #ef476f;
	padding-bottom: -10px;
}
