@import url("https://fonts.googleapis.com/css2?family=Acme&family=Antic+Slab&family=Architects+Daughter&family=Balsamiq+Sans:wght@400;700&family=Black+Ops+One&family=Chela+One&family=Courgette&family=Fredoka+One&family=Great+Vibes&family=Lobster&family=Londrina+Solid:wght@100;300;400;900&family=Maven+Pro:wght@400;600;900&family=Nunito:ital,wght@0,200;0,700;0,900;1,400&family=Poppins&family=Quicksand&family=Raleway:ital@1&family=Righteous&family=Satisfy&family=Ubuntu:ital@1&display=swap");

* {
	padding: 0px;
	margin: 0px;
	border: 0;
}

body {
	font-family: "Nunito", "Fredoka One", Verdana, Tahoma, sans-serif;
	font-weight: 400;
	margin: 30px;
}

.logo-focus {
	font-family: "Righteous", cursive;
	font-weight: 900;
}

.logo-diary {
	font-family: "Great Vibes", cursive;
	font-weight: 100;
}

.daily-form-input {
	border: 2px solid lightskyblue;
	background-color: lavenderblush;
	color: lightslategray;
	height: 2vh;
	width: 60vw;
	display: inline-flex;
}

.daily-form-label {
	font-family: "Nunito", sans-serif;
	height: 2vh;
	width: 10vw;
	text-align: left;
}

.daily-form-longinput {
	border: 2px solid lightskyblue;
	background-color: lavenderblush;
	color: lightslategray;
	height: 30vh;
	width: 60vw;
	display: inline-flex;
}

h4 {
	margin-top: 10px;
	color: lightskyblue;
}

.mood-icon {
	margin: 1px;
	color: lightslategray;
}

.mood-icon:hover {
	color: lightskyblue;
}
button {
	margin: 5px;
	background-color: lightskyblue;
	height: 2vh;
	width: 10vw;
	position: absolute;
	color: lavenderblush;
}
